.fa-search{
    background: #333 url(http://demo.7uptheme.com/html/e-store/images/home_1/icon-search.png) no-repeat scroll center center;
    border: medium none;
    float: right;
    height: 40px;
    position: relative;
    width: 40px;
    margin-left: -40px;
}

section{

	margin-top: -30px;
}

body{

background-image:  url('bg_header.jpg');
background-position: center center;
background-repeat: no-repeat;

background-size: cover;
margin-top: 20px;
}
.form-control{
background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 55px 0 15px;
    position: absolute;
    width: 90%;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;

 } 

 hr{
 	background-color: rgba(255, 255, 255, 0.1); 
    height: 1px;
 } 
 nav{
    margin-top: -20px;
    margin-left: -80px;
 } 
 .home-icon{
    float: right;
 

 }
 .fa-user,.fa-shopping-cart{

    transform: scale(2.2);
    margin:10px;
    color: #fff;  
 }
 .fa-user{

    margin-left: 250px;
    margin-top: 20px;
    padding-right: 15px;

 }

 @import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
​​/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/






a:hover{
	text-decoration:none;
}


 


#sub-head{

    border-bottom: 1px solid #999;
    font-size: 14px;
    margin: 0 0 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-left: 20px;

}



li{

	display: block;
}

 .nav>li>a:hover{

    background-color: transparent !important;
    color: #cecece !important;

}

nav li a{

	color: #cecece;
    font-weight: 700;
    text-transform: uppercase;
}

nav li  a:hover {
    text-decoration: none;
    outline: none;
}

.number-cart-total {
    
    border-radius: 50%;
    color: #ffc229;
    display: block;
    font-size: 12px;
    margin-top: -10px;
   background-color:black;
   width: 12px;
   height: 12px; 
    line-height: 18px;
    padding: 0;
    position: absolute;
    right: -5px;
    text-align: center;
    top: 0px;
   
}
div#banner{

    width: auto;
    height: 100px;
    width: 770px;

    background-image: url(http://demo.7uptheme.com/html/e-store/images/home_1/mega-menu-banner.png);
    background-position: center center;
    background-size: cover;
}
#banner-h4{

    border-bottom: 1px solid #999;
    font-size: 12px;
    margin: 0 0 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
div#images img{

    margin: 5px;
}
div#banner-li li a{

        color: #666;
      padding: 15px;
      font-size: 12px;
}
div#banner-li li a:hover{

    color: #ffc229;
}
div#banner-li,#banner-h4{

    margin-left: -50px;
}
#banner-head{

    color: #fff;
    margin-top: 30px !important;
    margin-left: 20px;
}

#sale{

	font-size: 95px;
    font-weight: 700;
    margin: 0;
    color:#fff;
    margin-top: 150px;
}
#sale-sub{

	font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}
.text-special{
  margin-top: -55px;
  margin-left: 350px;
    position: relative;
    width: 560px;

}

.text-special strong {
    color: #ffc229;
    font-size: 260px;
    font-weight: normal;
    font-family: 'Poiret One', cursive;

    }

    .text-special > span {
    color: #ffc229;
    font-family: "Poiret One",cursive;
    font-size: 60px;
    left: 202px;
    line-height: 60px;
    position: absolute;
    top: 150px;
}

.text-special > label {
    font-size: 30px;
    font-weight: normal;
    left: -120px;
    color: #fff;
    position: absolute;
    top: 180px;
    font-size:40px;
    text-transform: uppercase;
    }

  

    .text-special > a {
    background: #fff none repeat scroll 0 0;
    color: #333;
    display: block;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 215px;
    font-size: 20px;
    text-align: center;

    width: 160px;
    transition: all 0.5s ease-out 0s;
}

.text-adv-intro{

    color: #fff;
    left: 50px;
    position: absolute;
    text-transform: uppercase;
    top: 90px;
    z-index: 99;
}
.icon{

font-size: 35px;
position: relative;
left: 420px;
top: -90px;
   background: #ffc229;
    border-radius: 50%;
    height: 80px;
    text-align: center;
    width: 80px;
    transition: all 0.5s ease-out 0s;

}

span.fa-shopping-bag{

	margin-top: 20px;
}

.text-adv-hidden {
    bottom: 40px;
    color: #ede5d5;
    font-size: 18px;
    line-height: 20px;
    max-width: 200px;
    position: absolute;
    right: 50px;
    text-transform: uppercase;
    transform: translate(250px, 0px);
    transition: all 0.5s ease-out 0.3s;
}

.icon:hover{
  
  width: 150px;
  height: 150px;
  font-size: 55px;
    background: #ffc229;
    border-radius: 50%;

     opacity: 0.7;
     margin-left: -100px;
     margin-top: -20px;
    transition: all 0.5s ease-out 0s;

}



@media (max-width: 700px){
  body{
    overflow-x: hidden;
  }
    #logo{

        margin-left: 120px;
    }
    .fa-search{

      margin-left: 95px;
      float: right;
        
   
    }
    #search-bar{

        width: 290px;
        margin-left:10px;
        color: #fff;
    }
    #search{

        margin-left: 75px;  
        width: 20px;
    }
    #sale{

        font-size: 50px;
        margin-top:45px;
        
    }
    #sale-sub{

        font-size: 30px;
        margin-top: 10px;
    }
    .text-special{

        margin-left: 0px;
    }
    #per{
        margin-top: -60px;
        margin-left: 20px;
        font-size: 50px;
    }
    #hidden{
      position: absolute;
      top: 90%;
      left: 150px;

      border-radius: 25px;
    }
    .iocn{
        display: none;
    }
    .img{

        margin-top: 40px;
    }
    #text{

        margin-top: -45px;
        font-size: 15px;
    }

    .text-special > label{

        margin-top: -90px;
        display: none;
    }

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 420px;
    margin-top: 8px;
    margin-bottom: 8px;
     background-color: #fff;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}

.navbar-toggle span{

   background-color: black;
}
.navbar-nav>li>a{

    margin-left: 65px;
}
.home-icons{
 
 
  margin-top: -20px !important;
 float: right;  
 margin: 5px;

}
.fa-user{

    padding-right:0px; 
}
.number-cart-total{

    position: absolute;
    right: -8px;
    top: 0px;
}
.fa-shopping-bag{
  
 display: none;

}
.icon{
    display: none;
}

ul.dropdown-menu{
display: none !important;
}

.text-special strong{

    margin-left: 80px;
    margin-top: 30px !important;
    font-size: 200px;
}
}
